[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
yelpapi = "*"
gmplot = "*"
pandas = "*"
matplotlib = "*"
descartes = "*"
geopandas = "*"
jupyter = "*"
pygeocoder = "*"
reverse-geocode = "*"
uszipcode = "*"
requests = "*"
shapely = "*"
numpy = "*"

[requires]
python_version = "3.7"
